.switch {
  position:relative;
  display:inline-block;
  width:60px;
  height:34px;
}

.switch input {
  display:none;
}

.slider {
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ccc;
  -webkit-transition:.4s;
  transition:.4s;
}

.slider:before {
  position:absolute;
  content:"";
  height:26px;
  width:26px;
  left:4px;
  bottom:4px;
  background-color:white;
  -webkit-transition:.4s;
  transition:.4s;
}

input:focus + .slider {
  box-shadow:0 0 1px #2196F3;
}

.slider.round {
  border-radius:34px;
}

.slider.round:before {
  border-radius:50%;
}

* {
  margin:0;
}

.switch {
  position:relative;
  display:inline-block;
  vertical-align:text-top;
  width:30px;
  height:17px;
  /*margin-right:20px;*/
  /*margin-bottom:auto;*/
}

.switch input {
  display:none;
}

.slider {
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ccc;
  -webkit-transition:.2s;
  transition:.2s;
}

.slider:before {
  position:absolute;
  content:"";
  height:13px;
  width:13px;
  left:2px;
  bottom:2px;
  background-color:white;
  -webkit-transition:.2s;
  transition:.2s;
}

input:focus + .slider {
  box-shadow:0 0 1px #85c226;
}

.slider.round {
  border-radius:17px;
}

.slider.round:before {
  border-radius:17px;
}

